@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Intervention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/js/intervention.js"></script>

<div class="row justify-content-center">
    <div class="text-center">
        <h1>Request an intervention.</h1>
        <h2 style="font-weight: lighter">Fill out the form below to request an intervention on one of your products.</h2>
    </div>
</div>
<div class="tab-content" id="submission-tabContent" style="margin-top: 50px">
    <form id="submit_intervention" method="post">        
        <fieldset>
            
            <div id="intervention_customer" class="col-md-4 mx-auto text-center text-blue offset-md-3">
                <label for="customer_id"><b>CLIENT *</b></label>
                <select id="customer_id" class="form-control pointer" name="customer_id" disabled required>
                    <option value="">@ViewBag.Customer</option>
                </select>
            </div>
            </br>
            <div id="intervention_building" class="col-md-4 mx-auto text-center text-blue offset-md-3">
                <label for="building_id"><b>BUILDING *</b></label>
                <select id="building_id" class="form-control pointer text-center" name="building_id" required>
                    <option value="default">--- Select One ---</option>
                    @foreach (var item in @ViewBag.Buildings)
                    {
                        <option value="">@item</option>
                    }
                </select>
            </div>
            </br>
            <div id="intervention_battery" class="col-md-4 mx-auto col text-blue align-self-center text-center">
                <label for="battery_id"><b>BATTERY *</b></label>
                <select id="battery_id" class="form-control pointer text-center" name="battery_id" required>
                    <option value="default">--- Select One ---</option>
                    @foreach (var item in @ViewBag.Batteries)
                    {
                        <option value="">@item</option>
                    }
                </select>
            </div>
            </br>
            <div id="intervention_column" class="col-md-4 mx-auto text-blue justify-content-center text-center">
                <label for="column_id"><b>COLUMN *</b></label>
                <select id="column_id" class="form-control pointer text-center" name="column_id" required>
                    <option value="default">--- Select One ---</option>
                    @foreach (var item in @ViewBag.Columns)
                    {
                        <option value="">@item</option>
                    }
                    <option value="Nil">None</option>
                </select>
            </div>
            </br>
            <div id="intervention_elevator" class="col-md-4 mx-auto text-blue text-center">
                <label for="elevator_id"><b>ELEVATOR *</b></label>
                <select id="elevator_id" class="form-control pointer text-center" name="elevator_id" required>
                    <option value="default">--- Select One ---</option>
                    @foreach (var item in @ViewBag.Elevators)
                    {
                        <option value="">@item</option>
                    }
                    <option value="Nil">None</option>
                </select>
            </div>
            </br>
            <div class="col-md-4 mx-auto text-blue text-center">   
                <button type="submit" class="btn btn-primary " style="width: 100%; margin-top: 40px" >Submit My Intervention</button>
            </div>
        </fieldset>
    </form>
</div>
